body{
  background: rgba(244, 234, 114, 0.72);
  margin: 5%;
}
h1,h2 {
  font-family: "Brush Script MT", cursive;
  clear: both
}
h1{
  font-size: 350%;
  font-style:oblique;
  text-align: center;
}
h3{
  line-height: 0px;
  clear: left
}
h4{
  text-align:center;
}
p{
  line-height: 15px;
}
.entrees{
  display: inline-block;
  padding-right: 0px;
}
div{
    vertical-align: top;
}
img{
  width: 20%;
  vertical-align: bottom;
  position: relative;
}
#sNmPic{
  left: 800px;
}
#cpPic{
  left: 1000px;
}
