h1,h2 {
  font-family: "Brush Script MT", cursive;
  clear: both
}
h3{
  line-height: 0px;
  clear: left
}
p{
  line-height: 15px;
}
body{
  background: rgba(244, 234, 114, 0.72);
  margin: 5%;
}
br{
  display: inline-block;
}
h1{
  font-size: 350%;
  font-style:oblique;
  text-align: center;
}
h4{
  text-align:center;
}
td img{
  display: block;
  margin-right: 0;
  margin-left: auto;
}
td{
  vertical-align: top;
}
/*li{
  display: inline;
  margin: auto;
}
*/
